<% content_for :jumbo do %>
  <h1>Users</h1>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Mail</th>
      <th>Resources</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= user.resources.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>