<div class="row">
  <div class="col-md-6">
    <h1><%= @resource.title %></h1>
    <p><small><%= link_to @resource.url, @resource.url, target: :blank %></small></p>
    <p><%= @resource.abstract %></p>
  </div>
  <div class="col-md-6">
    <%= image_tag @resource.image, class: 'img-fluid' unless @resource.image.nil? %>
  </div>
</div>
