@import 'bootstrap'
@import 'resources'
@import 'font-awesome'

.jumbotron 
  background: image-url('background.jpg')
  margin-top: -60px
  padding-top: 150px
  input
    max-width: 400px
    text-align: center
    margin: 0 auto

.logo
  font-weight: bold

nav
  background: none

a
  color: black

footer
  margin-top: 100px